
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<h2>Rating</h2>
<% @article.scores.each do |score| %>
  <p>
    <strong>Reader:</strong>
    <%= score.reader %>
  </p>
 
  <p>
    <strong>Score:</strong>
    <%= score.body %>
  </p>
<% end %>

<h2>Rate this article:</h2>
<%= form_with(model: [ @article, @article.scores.build ], local: true) do |form| %>
  <p>
    <%= form.label :reader %><br>
    <%= form.text_field :reader %>
  </p>
  <p>
    <%= form.label :score %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
