<%= form_with model: @scores, local: true do |form| %>
 

 
  <p>
    <%= form.label :reader %><br>
    <%= form.text_field :reader %>
  </p>
 
  <p>
    <%= form.label :score %><br>
    <%= form.text_area :body %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>